
.add-button {
    position: absolute;
    top: 40px !important;
    left: 20px !important;
}

.custom-button {
    background: var(--color4);
    color: var(--color2);
    border: none;
    font-weight: bold;
    transition: all 0.3s ease;
    transform: scale(1);
}

.custom-button:hover {
    background: var(--color3);
    transform: scale(1.05) ease;
} 

.custom-button:active,
.custom-button:active:focus-visible {
    background-color: #a83221 !important;
    color: #e0cfbc !important;
    outline: none !important;
}
