
.add-button {
    position: absolute;
    top: 60px !important;
    left: 40px !important;
    padding: 11px  20px !important;
    white-space: nowrap !important;
}

.custom-button {
    background: var(--color3) !important;
    color: var(--color2) !important;
    border: none !important;
    border-radius: 5px !important;
    font-weight: bold !important;
    transition: all 0.3s ease !important;
    transform: scale(1) !important;
    font-family: "Alata", sans-serif !important;
}

.custom-button:hover {
    background: linear-gradient(45deg, var(--color4), var(--color3)) !important;
    color: var(--color2) !important;
    transform: scale(1.05) ease !important;
} 

.custom-button:active,
.custom-button:active:focus-visible {
    background-color: #a83221 !important;
    color: #e0cfbc !important;
    outline: none !important;
}

/* Botón para volver arriba */
.btn-subir {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 999;
}


